<!-- quick experiment to see how finding the threshold between class tell different stories -->

<!-- visually, quantile tell us nothing, because it tries to put the same amout of node in a class, but we
 can do quick stat, let's say we have 10 class.. i look at the first class, i know that a member of this class
 has a less load that 90% of the other class
-->

<!-- show list of nodes, (we could match the sorting of the table-->
<!-- inside color matches the relativeLoad -->

<!-- do a threshold/quantize/quantile binning  with 5 bins -->

<!-- quantile with 5 can give us basic statistics, e.g a node in the first bin is less loaded than 80 % of the other ->
