<!-- quick experiment to see how finding the threshold between class tell different stories -->

<!-- visually, quantile tell us nothing, because it tries to put the same amout of node in a class, but we
 can do quick stat, let's say we have 10 class.. i look at the first class, i know that a member of this class
 has a less load that 90% of the other class
-->

<!-- show list of nodes, (we could match the sorting of the table-->
<!-- inside color matches the relativeLoad -->

<!-- do a threshold/quantize/quantile binning  with 5 bins -->

<!-- quantile with 5 can give us basic statistics, e.g a node in the first bin is less loaded than 80 % of the other -->
<p>
  This page displays different clustering of the nodes
</p>
<p>
  First graph use a linear scale to encode the relative load nodes of a load. This serves as a reference
</p>
<p>
  Second one use user-defined interval to cluster the nodes. It tells you that
  most of the nodes have a load < 33% of their capacity, and only one has a load
  of > 66%
</p>
<p>
  Third one use clusters with even intervals. You'll notice that most of the nodes fall in the middle
</p>
<p>
  Fourth use clusters that have roughly the same amount of members.
</p>
<div id="series" #container></div>
<div style="height: 20px;" id="node-description"></div>
